# Modèles d'Intelligence Artificielle
*.pt
*.pth
*.h5
*.onnx

# Environnements virtuels Python
venv/
env/
fmpose_3d/
miniconda3/

# Fichiers temporaires Python
__pycache__/
*.pyc

# Fichiers de configuration locaux (mots de passe, clés d'API)
.env